password = "put_secret_password here"

[data]
gdrive_file_id = "put google sheets file id here"

[openai]
api_key = "sk-proj..."

[google]
api_key = "your_google_api_key"
search_engine_id = "your_search_engine_id"
